// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #811485;
$secondary : #801818;
$accent    : #4249c9;

$dark      : #454545;
$dark-page : #303030;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

@import '~quasar-variables-styl';
